<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style> @import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand&display=swap'); </style>
    <script src="https://kit.fontawesome.com/319bcd1342.js" crossorigin="anonymous"></script>
    <title>Team Building - Activities</title>
    <%= stylesheet '/style.css' %>
    <%= stylesheet '/components/banner.css' %>
    <%= stylesheet '/components/container.css' %>
    <%= stylesheet '/components/card.css' %>
    <%= stylesheet '/components/activity.css'%>
  </head>
  <body>
         <!--Go back button-->

    <div class="card-activity">
    <a class="button-activity-header" href="/"> Go back to all activities </a>
      <!-- Card header with name and category-->
      <div class="card-header-activity">
        <h1><%= @activity["name"] %></h1>
        <h2 class="category"> <%= @activity["category"] %></h2>
      </div>
      <!-- Image -->
      <div class="img-activity" style="background-image: url('<%= @activity["photo_url"]%>')">
        <!--Location, Price and Button-->
        <div class="container-details-activity">
          <div class="wrapped-details-activity">
            <div class="city-price-line">
              <p class="city"><%= @activity["city"]%></p>
                 <p class="price"><%= @activity["price"]%> €</p>
            </div>
            <div class="duration-cta">
              <div class="duration-participants">
                <p><i class="fas fa-hourglass-half"></i>   <%= @activity["duration"] %> min </p>
                <p><i class="fas fa-users"></i> <%= @activity["participants_count"]%> max </p>

            </div>
            <div>
              <button class="button button-like" href="/index">  <i class="fa fa-heart"></i>   <span>Add to wishlist</span></button> </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
