<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style> @import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand&display=swap'); </style>
    <script src="https://kit.fontawesome.com/319bcd1342.js" crossorigin="anonymous"></script>
    <title>Team Building - Activities</title>
    <%= stylesheet '/style.css' %>
    <%= stylesheet '/components/banner.css' %>
    <%= stylesheet '/components/container.css' %>
    <%= stylesheet '/components/card.css' %>
  </head>
  <body>
  <!--Banner-->
    <div class="banner">
      <div class="container">
        <h1>Team Building Activities</h1>
        <h2>Find your next adventure and onboard your team</h2>
      </div>
    </div>
  <!--Cartes-->
      <div class="cards-grid">
        <% @activities.each do |activity| %>
          <div class="card">
                <!-- Card header with name and category-->
                <div class="card-header">
                  <h1><%= activity["name"] %></h1>
                  <h2 class="category"> <%= activity["category"] %></h2>
                </div>
                <!-- Image -->
              <div class="img" style="background-image: url('<%= activity["photo_url"]%>')"></div>
                <!--Location, Price and Button-->
                  <div class="city-price-line">
                    <p class="city"><%= activity["city"]%>
                    <p class="price"><%= activity["price"]%> €</p>
                  </div>
                      <div class="duration-cta">
                        <div class="duration-participants">
                          <p><i class="fas fa-hourglass-half"></i>   <%= activity["duration"] %> min </p>
                          <p><i class="fas fa-users"></i> <%= activity["participants_count"]%> max </p>
                        </div>
                        <div>
                      <p class="button"> Discover </p>
                      </div>
                      </div>
          </div>
      <% end %>
      </div>
      </body>
</html>
