<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Team Building - Activities</title>
    <%= stylesheet '/style.css' %>
  </head>
  <body>
    <h1>Activities</h1>


    <% @activities.each do |activity| %>
    <div class="card-white">
    <p><%= activity["name"] %> <%= activity["category"] %></p>
    <p>Located in <%= activity["city"]%>
    <p>Duration of <%= activity["duration"] %> minutes </p>
    <p> For <%= activity["maxpax"]%> participants </p>
    <p> Charged <%= activity["price"]%> €</p>
    </div>
    <% end %>

  </body>
</html>
